<header class="header-top bg-black text-white position-relative">
    <div class="container py-3">
        <div class="row align-items-center">
            <div class="col text-center">
                <h1 class="mb-1">StoreSkyPro</h1>
                <p class="text-white-50 mb-0">Онлайн магазин</p>
            </div>
            <div class="col-auto">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light disabled">
                        <i class="bi bi-person-fill"></i> {{ user.username }}
                    </button>
                    <a href="{% url 'users:logout' %}" class="btn btn-outline-light">
                        <i class="bi bi-box-arrow-right"></i> Выйти
                    </a>
                </div>
                {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-outline-light">
                    <i class="bi bi-box-arrow-in-right"></i> Войти
                </a>
                <a href="{% url 'users:register' %}" class="btn btn-outline-light">
                    <i class="bi bi-box-arrow-in-right"></i> Регистрация
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>